{{- /* Head custom content area start */ -}}
<script src="https://www.google.com/recaptcha/api.js?render=6LdBIyEsAAAAAP7K7mufri9od9pJNNtwlppAGLxb"></script>
<script>
  window.siteKey = "6LdBIyEsAAAAAP7K7mufri9od9pJNNtwlppAGLxb";
</script>
<script
  type="module"
  crossorigin
  src="https://hicafe.co/script/11a7628a-bd53-4510-93ea-5cd67a6e9584.js"
></script>
<link
  rel="stylesheet"
  crossorigin
  href="https://hicafe.co/style/343b9d95-fb66-41b5-bba7-898db30ed07d.css"
/>
<style>
  .grecaptcha-badge {
    visibility: hidden;
  }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear
in the <head></head> section of every page. */ -}} {{- /* Can be overwritten by
partial with the same name in the global layouts. */ -}} {{- /* Head custom
content area end */ -}}
